@import './vars';

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  // background: linear-gradient(to top, #1e1e1e, black);
  background: black;
  overflow: hidden;
}

svg.loading {

  path, rect {
    fill: white;
  }
}

.chart {
  svg.loading {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

header {
  height: $header_height;
  color: white;
  line-height: $header_height;
  padding: 0 ($header_height / 3);
  font-size: 1.5em;
  font-weight: bold;

  i {
    font-size: 0.5em;
    padding: 0 (0.5em / 2);
    font-weight: normal;
  }
}

.main {
  min-height: 'calc(100vh - %s)' % $footer_height;
  box-sizing: border-box;
  padding-top: $header_height;
  margin-top: - $header_height;
}

footer {
  height: $footer_height;
  line-height: $footer_height;
  text-align: center;
  color: white;
  text-align: right;
  padding: 0 ($header_height / 3);
}

/*
   * main样式
*/
.main {
  margin-left: ($header_height / 3);
  margin-right: ($header_height / 3);
  display: flex;

  .html {
    position: relative;
    width: 50%;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: -1px;
      width: 2px;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), alpha(#ccc - 50%, 0.2), rgba(0, 0, 0, 0));
      cursor: ew-resize;
    }
  }

  .source {
    flex-grow: 1;
  }
}